<div class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="iq-blog blog-detail">
          {{#compare isImg '==' 'true'}}
          <a href="{{path}}blog/blog-detail.html" class="blog-image d-block overflow-hidden">
            <img src="{{path}}assets/images/{{blog-image}}" alt="blog-image" class="img-fluid w-100">
          </a>
          {{/compare}}
          {{#compare isVideo '==' 'true'}}
          <div>
            <iframe class="w-100" height="490" src="https://www.youtube.com/embed/QCGq1epI9pQ"
              title="Streamit Intro | ULTIMATE OTT Theme &amp; App for WordPress | Iqonic Design" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          {{/compare}}
          {{#compare isAudio '==' 'true'}}
          <div>
            <iframe height="200" class="w-100" frameborder="no"
              src="https://w.soundcloud.com/player/?visual=false&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F36701924&amp;show_artwork=true&amp;maxheight=750&amp;maxwidth=720&amp;auto_play=false&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;color"></iframe>

          </div>
          {{/compare}}
          {{#compare isGallery '==' 'true'}}
          <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog1.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog1.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog2.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog2.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog3.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog3.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4 mb-md-0">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog4.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog4.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4 mb-md-0">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog5.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog5.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/Fantacy.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/Fantacy.webp" alt="blog-gallery">
              </a>
            </div>
          </div>
          {{/compare}}

          <div class="iq-blog-box pt-4">
            <div class="iq-blog-meta d-flex mb-3">
              <ul class="iq-blogtag list-inline">
                <li class="border-gredient-left"><a href="{{path}}blog/blog-author.html"><i class="far fa-user me-1"
                      aria-hidden="true"></i> Jenny</a></li>
              </ul>
              <ul class="list-inline mb-0 ms-2">
                <li class="border-gredient-left">
                  <a href="{{path}}blog/blog-date.html"> <i class="far fa-calendar-alt me-1"
                      aria-hidden="true"></i>January 30, 2019</a>
                </li>
              </ul>
            </div>

            {{#compare isLink '==' 'true'}}
            <div class="mb-4">
              <a href="https://iqonic.design/"><i class="fas fa-link text-primary quote-icon"></i></a>
            </div>
            {{/compare}}

            {{#compare isQuote '==' 'true'}}
            <div class="blockquote text-center mb-3">
              <div class="blockquote-icon">
                <i aria-hidden="true" class="fas fa-quote-right"></i>
              </div>
              <p>“ Movies can and do have tremendous influence in shaping young lives in the realm of entertainment
                towards
                the ideals and objectives of normal adulthood. </p>
              <div class="my-4">
                <h6 class="border-gredient-left d-inline-block ps-2 fw-normal py-1"> Walt Disney </h6>
              </div>
            </div>
            {{/compare}}

            <p class="text-white"><strong>Praesent iaculis, purus ac vehicula mattis, arcu
                lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel
                augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</strong></p>
            <p>Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis.
              Aenean ullamcorper dapibus odio ac tempor. Aliquam iaculis, quam vitae
              imperdiet consectetur, mi ante semper metus, ac efficitur nisi justo ut
              eros. Maecenas suscipit turpis fermentum elementum scelerisque.</p>
            <p>Sed leo elit, volutpat quis aliquet eu, elementum eget arcu. Aenean ligula
              tellus, malesuada eu ultrices vel, vulputate sit amet metus. Donec tincidunt
              sapien ut enim feugiat, sed egestas dolor ornare.</p>

            <blockquote class="block-quote text-white">
              <p>\”Simon Doe has his tongue planted in his cheek as he describes the<br />fictional skills of his
                advancing agent.\”</p>
              <cite><a href="#">Steve Kowalsky</a></cite>
            </blockquote>
            <p>Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress
              integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus
              fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur.
              Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec
              conubia sit rutrum duis viverra in commodo.</p>
            <p>Nisi habitasse viverra praesent a maecenas odio erat tristique praesent
              elementum rutrum maecenas blandit nec curabitur donec, turpis varius etiam
              felis ultrices sit, per inceptos dapibus fames donec praesent quisque commodo
              primis proin leo nisl lacinia dictumst justo sagittis luctus vestibulum sed
              quisque.</p>

            <p>Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress
              integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus
              fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur.
              Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec
              conubia sit rutrum duis viverra in commodo.</p>

            <div class="iq-blog-tag">
              <div class="blog-nav row">
                <div class="blog-prev-post col-lg-6 mb-5 mb-lg-0 border-end">
                  <a href="../blog/blog-template.html">
                    <div class="blog-arrow font-size-14 fw-normal mb-3">
                      <i class="fas fa-arrow-left"></i>
                      <span class="previous fw-medium fst-italic"> Previous Post</span>
                    </div>
                    <span class="fw-semibold text-white">Why Amy Adams Always Dreamed of Working </span>
                  </a>
                </div>
                <div class="blog-next-post col-lg-6 text-start text-lg-end">
                  <a href="../blog/blog-audio.html">
                    <div class="blog-arrow font-size-14 fw-normal mb-3">
                      <span class="next fw-medium fst-italic"> Next Post</span>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                    <span class="fw-semibold text-white">Gillian Anderson Shares the Photos From The Crown</span>
                  </a>
                </div>
              </div>
              <form>
                <h4 class="fw-500 mb-3">Leave a Reply </h4>
                <p class="mb-4">Logged in as Jenny. <span class="text-primary">Edit your profile. Log out?</span>
                  Required fields are marked *</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="comment" cols="5" rows="8" required=""
                        placeholder="Comment"></textarea>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-submit mt-4">
                      <div class="iq-button">
                        <button name="submit" type="submit" id="submit" class="btn text-uppercase position-relative"
                          value="Submit">
                          <span class="button-text">Post Comment</span>
                          <i class="fa-solid fa-play"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 mt-5 mt-xl-0">
        {{>components/widgets/blog-sidebar}}
      </div>
    </div>
  </div>
</div>