<div class="modal fade" id="woosq-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered positon-relative">
      <div class="modal-content rounded-0 border-0">
         <div class="modal-body p-0">
            <button type="button" class="btn-close position-absolute end-0" data-bs-dismiss="modal"
               aria-label="Close"></button>
            <div class="row align-items-center">
               <div class="col-md-6">
                  <img src="{{path}}assets/images/shop/product/01.webp" class="object-cover" alt="shop-img">
               </div>
               <div class="col-md-6">
                  <div class="entry-summary p-md-4">
                     <h3>Bag Pack</h3>
                     <div class="review">
                     {{> components/widgets/filter-rating rating="5"}}
                     </div>
                     <h4 class="price text-white mt-3"><del class="text-body fw-normal me-1">$48.00</del>$28.00 </h4>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.
                     </p>
                     <ul class="list-inline m-0 p-0 d-flex align-items-center gap-3 flex-wrap pt-0 pt-md-4 pb-5">
                        <li>
                           <div class="btn-group iq-qty-btn border border-white rounded-0" data-qty="btn" role="group">
                                        <button type="button" class="btn btn-sm btn-outline-light iq-quantity-minus text-white border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3" viewBox="0 0 6 3" fill="none">
                                            <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z" fill="currentColor"></path>
                                            </svg>
                                        </button>
                                        <input type="text" class="btn btn-sm btn-outline-light input-display border-0" data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2" title="Qty">
                                        <button type="button" class="btn btn-sm btn-outline-light iq-quantity-plus text-white border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
                                            <path d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z" fill="currentColor"></path>
                                            </svg>
                                        </button>
                                    </div>
                        </li>
                        <li>
                           <div class="iq-button">
                            <a href="#" class="btn btn-sm text-uppercase position-relative cart-btn">
                                <span class="button-text">add to cart</span>
                                <i class="fa-solid fa-play"></i>
                            </a>
                            </div>
                        </li>
                     </ul>
                     <div class="d-flex align-items-center gap-2">
                        <span class="fw-semibold text-white">SKU :</span>
                        <span>Bag Pack</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="fw-semibold text-white">Category :</span>
                        <span class="text-primary">Uptight Birds</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="fw-semibold text-white">Tags :</span>
                        <span class="text-primary">Costume,</span>
                        <span class="text-primary">Lighting</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


{{!-- <div class="modal fade modal-quick-view" id="woosq-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content-main">
      <div class="container p-0">
        <div class="row">
          <div class="col-lg-6 px-0">
            <img class="product-img" src="{{path}}assets/images/shop/product/{{ProductImg}}" alt="quickview" />
          </div>
          <div class="product-summary col-lg-6">
            <div class="product-content">
              <h3 class="product-title">{{shopTitle}}</h3>
              <div class="view-cart-close">
                <i class="fa fa-times icon" aria-hidden="true" data-bs-dismiss="modal"></i>
              </div>
              <div class="price-detail">
                <div class="price">
                  <h4 class="d-flex gap-2 fw-bold"><del class="text-secondary">{{shopDel}}</del>{{shopPrice}}</h4>
                </div>
              </div>
              <p class="product-description">There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
              <form class="cart mb-4" method="post">
                <div class="cart-btn-wrapper">
                  <div class="quantity">
                    <label class="screen-reader-text" for="{{id}}"></label>
                    <button type="button" class="minus"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    <input type="text" id="{{id}}" class=" qty" name="quantity" value="1" title="Qty" placeholder=""
                      disabled />
                    <button type="button" class="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
                  </div>

                  <div class="iq-button">
                    <a href="#" class="btn text-uppercase position-relative">
                      <span class="button-text">Add to cart</span>
                      <i class="fa-solid fa-play"></i>
                    </a>
                  </div>
                </div>
              </form>
              <div class="product-meta mt-4">
                <span class="sku_wrapper"><span class="sku_title">SKU :</span>
                  <span class="sku">woo-beanie</span></span>
                <span class="posted_in product-meta-list"><span>Categories :</span>
                  <a href="shop/shop.html">Harry David</a>
                  <a href="shop/shop.html">Warner Bros Films</a>
                </span>
                <span class="tagged_as product-meta-list"><span>Tags :</span>
                  <a href="shop/shop.html">Camera</a>
                  <a href="shop/shop.html">Production</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}