<div class="iq-blog-box">
    <div class="iq-blog-image clearfix">
        <a href="{{path}}blog/blog-detail.html">
            <img src="{{path}}assets/images/blog/{{blogImg}}" alt="blogImg-{{id}}" class="img-fluid w-100">						
        </a>
    </div>
    <div class="iq-blog-detail">
        <div class="iq-blog-meta d-flex mb-3">
            <ul class="list-inline mb-0">
                <li class="border-gredient-left">
                   <a href="{{path}}blog/blog-date.html"> <span>{{blogDate}}</span></a>										
                </li>
            </ul>
            <ul class="iq-blogtag list-inline">
                <li class="border-gredient-left"><a href="{{path}}blog/blog-tag.html">{{blogTag}}</a></li>
            </ul>
        </div>

            <a href="{{path}}blog/blog-detail.html">
            <h3 class="mb-3 line-count-1 blog-heading">{{blogTitle}}</h3>
            </a>
              <p class="line-count-2">{{blogText}}</p>
        {{#compare linkButton "==" "true"}}
            <div class="iq-button link-button">
                <a href="{{path}}blog/blog-detail.html" class="btn text-capitalize position-relative">
                    <span class="button-text">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></span>
                </a>
            </div>
            {{else}}
            <div class="iq-button">
                <a href="{{path}}blog/blog-detail.html" class="btn text-uppercase position-relative">
                    <span class="button-text">Read More </span>
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
            {{/compare}}
        {{#compare isCategory "==" "true"}}
         <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
            <li class="iq-tag-title">
                <i class="fas fa-film" aria-hidden="true"></i>
                Categories:
            </li>
            <li>
                <a href="{{path}}blog/blog-category.html">
                {{categoriesTex1}}
                </a>
            </li>
        </ul>
        {{/compare}}
        {{#compare isTag "==" "true"}}
        <ul class="iq-blog-meta-cat-tag iq-blogtag">
            <li class="iq-tag-title">
                <i class="fas fa-tags" aria-hidden="true"></i>
                Tags:
            </li>
            <li>
                <a href="{{path}}blog/blog-tag.html">
                {{tagText1}}
                </a>
            </li>
            <li>
                <a href="{{path}}blog/blog-tag.html">
                {{tagText2}}
                </a>
            </li>
            <li>
                <a href="{{path}}blog/blog-tag.html">
                {{tagText3}}
                </a>
            </li>
        </ul>
        {{/compare}}
    </div>
</div>