<div class="iq-cast">
  <img src="{{path}}assets/images/cast/{{castImg}}" class="img-fluid" alt="castImg" />
  <div class="card-img-overlay iq-cast-body">
    <h6 class="cast-title fw-500">
      <a href="{{path}}{{castLink}}">
        {{castTitle}}
      </a>
    </h6>
    <span class="cast-subtitle">
      {{castSubTitle}}
    </span>
  </div>
</div>