{{!-- layouts/layout.hbs --}}

<!doctype html>
<html lang="en" data-bs-theme="dark" dir="{{#compare dir '==' 'true'}}rtl{{else}}ltr{{/compare}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title data-setting="app_name" data-rightJoin=" Responsive Bootstrap 5 Admin Dashboard Template">{{ appName }}
    Responsive Bootstrap 5 Admin Dashboard Template</title>
  <meta name="description"
    content="{{ appName }} is a revolutionary Bootstrap Admin Dashboard Template and UI Components Library. The Admin Dashboard Template and UI Component features 8 modules.">
  <meta name="keywords"
    content="premium, admin, dashboard, template, bootstrap 5, clean ui, streamit, admin dashboard,responsive dashboard, optimized dashboard, simple auth">
  <meta name="author" content="Iqonic Design">
  <meta name="DC.title" content="{{ appName }} Simple | Responsive Bootstrap 5 Admin Dashboard Template">
  {{> components/partials/head }}
  {{#block "head"}}
  {{!-- External page head section--}}
  {{/block}}
</head>

<body class="{{bodyClass}} {{#compare dark '===' 'true'}} dark {{/compare}}">
  <!-- loader Start -->
  <div id="loading">
    {{> components/partials/loader }}
  </div>
  <!-- loader END -->
  <div class="wrapper">
    {{#block "content"}}
    {{/block}}
  </div>
  {{> components/partials/scripts }}
  {{#block "scripts"}}
  {{/block}}
</body>

</html>