{{#extend layout title="Restricted Content" active="restricted-content" isHeader="true" isFooter="true" isFslightbox="true" path="./" isSwiperSlider="true" isVideoJs="true" isSelect2="true"}}
{{#content "content"}}
<!-- Banner Start -->
<div class="iq-main-slider site-video">
    <div class="container-fluid">
        <div class="iq-content_restriction">
            <div class="iq-restriction_box">
                <span class="subscribe-text">You must be logged in to view this content.</span>
                {{> components/widgets/custom-button button-title="Subscribe To Watch" button-url=""}}   
                <span> Already a Member?</span>
                {{> components/widgets/custom-button button-title="Log in" button-url=""}}     
            </div>
        </div> 
    </div>
</div>
<!-- Banner End -->

{{!-- Detail part Start --}}
<div class="details-part">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {{> components/widgets/movie-description moveName="Zombie Island" imdbRating="4.8"
                movieType="Horror" movieDuration="1hr 48mins" movieReleased="Feb 2017"}}
                {{> components/widgets/movie-source }}
            </div>
        </div>
    </div>
</div>
{{!-- detail part End --}}

{{!-- cast Start --}}
<div class="cast-tabs">
    <div class="container-fluid">
        <div class="content-details trending-info g-border iq-rtl-direction">
            <ul class="iq-custom-tab tab-bg-fill d-flex nav nav-pills mb-5 " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="pill" href="#cast-1" role="tab"
                        aria-selected="true">Cast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#crew-1" role="tab" aria-selected="false">Crew</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="cast-1" class="tab-pane animated fadeInUp active show" role="tabpanel">
                  <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="3" data-mobile="2" data-mobile-sm="1" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
                    <ul class="list-inline swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="cast-images m-0 row align-items-center position-relative">
                                <div class="col-4 img-box p-0">                                
                                    <img src="{{path}}assets/images/genre/g1.webp" class="img-fluid" alt="image" loading="lazy">
                                </div>
                                <div class="col-8 block-description">
                                    <h6 class="iq-title">
                                        <a href="{{path}}person-detail.html" tabindex="0">James Chinlund  </a>
                                    </h6>
                                    <div class="video-time d-flex align-items-center my-2">
                                        <small class="text-white">As James</small>
                                    </div>
                                </div>
                            </div>
                        </li>                                    
                        <li class="swiper-slide">
                            <div class="cast-images m-0 row align-items-center position-relative">
                                <div class="col-4 img-box p-0">
                                    <img src="{{path}}assets/images/genre/g2.webp" class="img-fluid" alt="image" loading="lazy">
                                </div>
                                <div class="col-8 block-description">
                                    <h6 class="iq-title">
                                        <a href="{{path}}person-detail.html" tabindex="0">James Earl Jones </a>
                                    </h6>
                                    <div class="video-time d-flex align-items-center my-2">
                                        <small class="text-white">As Jones</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
                </div>
                <div id="crew-1" class="tab-pane animated fadeInUp" role="tabpanel">
                  <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
                    <ul class="list-inline swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="cast-images m-0 row align-items-center position-relative">
                                <div class="col-4 img-box p-0">
                                    <img src="{{path}}assets/images/genre/g3.webp" class="img-fluid" alt="image" loading="lazy">
                                </div>
                                <div class="col-8 block-description starring-desc ">
                                    <h6 class="iq-title">
                                        <a href="{{path}}person-detail.html" tabindex="0"> Jeff Nathanson </a>
                                    </h6>
                                    <div class="video-time d-flex align-items-center my-2">
                                        <small class="text-white">Writing</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="cast-images m-0 row align-items-center position-relative">
                                <div class="col-4 img-box p-0">
                                    <img src="{{path}}assets/images/genre/g5.webp" class="person__poster--image img-fluid" alt="image" loading="lazy">
                                </div>
                                <div class="col-8 block-description starring-desc ">
                                    <h6 class="iq-title">
                                        <a href="{{path}}person-detail.html" tabindex="0"> Irene Mecchi </a>
                                    </h6>
                                    <div class="video-time d-flex align-items-center my-2">
                                        <small class="text-white">Writing</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="cast-images m-0 row align-items-center position-relative">
                                <div class="col-4 img-box p-0">
                                    <img src="{{path}}assets/images/genre/g4.webp" class="person__poster--image img-fluid" alt="image" loading="lazy">
                                </div>
                                <div class="col-8 block-description starring-desc ">
                                    <h6 class="iq-title">
                                        <a href="{{path}}person-detail.html" tabindex="0"> Karen Gilchrist </a>
                                    </h6>
                                    <div class="video-time d-flex align-items-center my-2">
                                        <small class="text-white">Production</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>                    
    </div>
</div>
{{!-- cast end --}}

{{!-- Movies Recommended For You Start --}}
<section class="recommended-block">
  <div class="container-fluid">
    <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-3 pt-2 my-4">
        <h5 class="main-title text-capitalize mb-0">Movies Recommended For You</h5>
        </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="2" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/01.webp" card-title="Giikre" movie-time="2hr 12mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/02.webp" card-title="Arrival" movie-time="1hr 22mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/03.webp" card-title="Pricess" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/04.webp" card-title="Soull Meate" movie-time="2hr 30mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/05.webp" card-title="Dangacg" movie-time="1hr 45mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/06.webp" card-title="crcikeft" movie-time="2hr 25mins"}}
            </li>
            <li class="swiper-slide">
                {{>components/widgets/card-style card-image="movies/recommended/07.webp" card-title="Avengrs" movie-time="1hr 45mins"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Movies Recommended For You End --}}

{{!-- Movies Related For You Start --}}
<section class="related-movie-block">
  <div class="container-fluid">
    <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-3 pt-2 my-4">
        <h5 class="main-title text-capitalize mb-0">Related Movies</h5>
        </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="2" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
           <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/01.webp" card-title="giikre" movie-time="2hr 12mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/02.webp" card-title="YoShi" movie-time="1hr 22mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/03.webp" card-title="We Gare" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/04.webp" card-title="Avengers" movie-time="1hr 45mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/05.webp" card-title="Chosfies" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/06.webp" card-title="Tf Oaler" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/07.webp" card-title="Another Danger" movie-time="1hr 30mins"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Movies Related For You End --}}

{{!-- Video Related For You Start --}}
<section class="video-block">
  <div class="container-fluid">
    <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-3 pt-2 my-4">
        <h5 class="main-title text-capitalize mb-0">Related Videos</h5>
        </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="2" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/01.webp" card-title="giikre" movie-time="2hr 12mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/02.webp" card-title="YoShi" movie-time="1hr 22mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/03.webp" card-title="We Gare" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/04.webp" card-title="Avengers" movie-time="1hr 45mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/05.webp" card-title="Chosfies" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/06.webp" card-title="Tf Oaler" movie-time="1hr 30mins"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/related/07.webp" card-title="Another Danger" movie-time="1hr 30mins"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Video Related For You End --}}

<!-- Upcoming Start -->
<section class="upcomimg-block">
  <div class="container-fluid">
    <div class="overflow-hidden">
    <div class="d-flex align-items-center justify-content-between px-3 pt-2 my-4">
    <h5 class="main-title text-capitalize mb-0">Upcoming</h5>
    </div>
    <div class="card-style-slider">
    <div class="position-relative swiper swiper-card" data-slide="5" data-laptop="5" data-tab="2" data-mobile="2"
        data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
        <ul class="p-0 swiper-wrapper m-0  list-inline">
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/01.webp" card-title="dinoosaur" movie-time="2hr 12mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/02.webp" card-title="godilla" movie-time="1hr 22mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/03.webp" card-title="batter caill" movie-time="1hr 55mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/04.webp" card-title="the co nouerllng" movie-time="1hr 30mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/05.webp" card-title="fast furious" movie-time="2hr 45mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/06.webp" card-title="spiderman" movie-time="1hr 45mins"}}
          </li>
          <li class="swiper-slide">
              {{>components/widgets/card-style card-image="movies/upcoming/07.webp" card-title="onepeoc" movie-time="2hr 30mins"}}
          </li>
        </ul>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
    </div>
    </div>
    </div>
  </div>
</section>
<!-- Upcoming End -->

{{/content}}
{{/extend}}